./build/*
./dist/*
./binout2h5.spec
binout2h5.spec
build/binout2h5/Analysis-00.toc
build/binout2h5/base_library.zip
build/binout2h5/binout2h5.pkg
build/binout2h5/EXE-00.toc
build/binout2h5/localpycs/pyimod01_archive.pyc
build/binout2h5/localpycs/pyimod02_importers.pyc
build/binout2h5/localpycs/pyimod03_ctypes.pyc
build/binout2h5/localpycs/struct.pyc
build/binout2h5/PKG-00.toc
build/binout2h5/PYZ-00.pyz
build/binout2h5/PYZ-00.toc
build/binout2h5/warn-binout2h5.txt
build/binout2h5/xref-binout2h5.html
dist/binout2h5
